<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="width: 100%;">
                <div class="container"><a class="navbar-brand" th:href="@{/index}" th:text="${granja.nombre}"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-2" style="padding-left: 0px;">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item" style="margin-right: 30%;"></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Administrar granja</a>
                                <div class="dropdown-menu"><a class="dropdown-item" th:href="@{/granja}">Ver detalles</a><a class="dropdown-item" th:href="@{/modificarGranja}">Modificar</a></div>
                            </li>                           
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Comprar / Vender</a>
                                <div class="dropdown-menu"><a class="dropdown-item" th:href="@{/comprar}">Comprar</a><a class="dropdown-item" th:href="@{/vender}">Vender</a></div>
                            </li>
                                
                            </li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Stock</a>
                                <div class="dropdown-menu"><a class="dropdown-item" th:href="@{/verPollos}">Ver pollos</a><a class="dropdown-item" th:href="@{/verHuevos}">Ver huevos</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container" style="border-radius: 0;border-top-left-radius: 100%;border-top-right-radius: 100%;border-bottom-right-radius: 100%;border-bottom-left-radius: 100%;">
                <div class="block-heading">
                    <h2 class="text-info">Modificar datos de la granja</h2>
                </div>              
                <form action="procesarModificarGranja" method="POST" style="border-top-style: none;border-top-color: rgb(94, 164, 243);">
                	
                	 <small class="form-text text-danger" th:text="${errores}"></small>  <br>
                    <div class="mb-3"><label class="form-label" for="name" >Nombre</label><input class="form-control" type="text" name="nombre" th:value="${granja.nombre}" th:placeholder="${granja.nombre}" required></div>
                    <div class="mb-3"><label class="form-label" for="subject">Direccion</label><input class="form-control" type="text" id="subject"  name="direccion" th:value="${granja.direccion}" th:placeholder="${granja.direccion}" required></div>
                    <div class="mb-3"><label class="form-label" for="subject">Telefono</label><input class="form-control" type="number" id="subject-1" name="telefono" th:value="${granja.telefono}" th:placeholder="${granja.telefono}" required> </div>
                    <div class="mb-3"><label class="form-label" for="subject">Dinero</label><input class="form-control" type="number" step="0.01" th:value="${granja.dinero}" name="dinero" th:placeholder="${granja.dinero}" min=0 max=9999999.99 required> </div>
                    
                    <div class="mb-3" style="border-radius: 0px;border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;border-top: 2px dashed rgba(191,217,244,0.49);padding-top: 10px;">
                    <label class="form-label" for="subject">Precio de venta de pollo</label><input class="form-control" type="number" step="0.01" name="precioVentaPollo" th:value="${granja.precioVentaPollo}" th:placeholder="${granja.precioVentaPollo}" required></div>
                    <div class="mb-3"><label class="form-label" for="subject">Precio de compra de pollo</label><input class="form-control" type="number" step="0.01" th:value="${granja.precioCompraPollo}" name="precioCompraPollo" th:placeholder="${granja.precioCompraPollo}" required></div>
                    <div class="mb-3"><label class="form-label" for="subject">Dias de vida en compra de pollo</label><input class="form-control" type="number" th:value="${granja.diasDeCompraPollo}" name="diasDeCompraPollo" th:placeholder="${granja.diasDeCompraPollo}" required></div>                    
                    <div class="mb-3"><label class="form-label" for="subject">Capacidad de pollos</label><input class="form-control" type="number" th:value="${granja.capacidadPollos}" name="capacidadPollos" th:placeholder="${granja.capacidadPollos}" required></div>                    
                    
                    
                    <div class="mb-3" style="border-top: 2px dashed rgba(191,217,244,0.49);padding-top: 10px;">
                    <label class="form-label" for="subject">Precio de venta de huevo</label><input class="form-control" type="number" step="0.01" name="precioVentaHuevo" th:value="${granja.precioVentaHuevo}" th:placeholder="${granja.precioVentaHuevo}" required></div>
                    <div class="mb-3"><label class="form-label" for="subject">Precio de compra de huevo</label><input class="form-control" type="number" step="0.01" th:value="${granja.precioCompraHuevo}" name="precioCompraHuevo" th:placeholder="${granja.precioCompraHuevo}" required></div>
                    <div class="mb-3"><label class="form-label" for="subject">Dias de vida en compra de huevo</label><input class="form-control" type="number" th:value="${granja.diasDeCompraHuevo}" name="diasDeCompraHuevo" th:placeholder="${granja.diasDeCompraHuevo}" required></div>                    
                    <div class="mb-3"><label class="form-label" for="subject">Capacidad de huevos</label><input class="form-control" type="number" th:value="${granja.capacidadHuevos}" name="capacidadHuevos" th:placeholder="${granja.capacidadHuevos}" required></div>
                    <div class="mb-3"></div>
                    
                    
                    
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Actualizar</button></div>
                    <small class="form-text text-danger" th:text="${errores}"></small>  
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="height: 100%;">
            <p>© 2021 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>